* {
  box-sizing: border-box;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.counter {
  background-color: skyblue;
  border: 2px solid black;
  border-radius: 50%;
  color: crimson;
  margin: 5px;
  padding: 10px;
  height: 40px;
  width: 40px;
  text-align: center;
}
